.Mades-qpc-second {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    color: #fff;
}
:root {
  --bg-color: #0b0b0b;
  --card-bg: #161616;
  --accent-color: #a3ff00; /* Зеленый из примера */
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 40px;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
.header-text{
    margin-top: 200px;
}
.header-text h2 {
    font-size: 2rem;
}
.header-text a {

    color: var(--accent-color);
    text-decoration: none;
    font-size: 0.9rem;
}
.slider-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; 
}
.project-card {
    min-width: calc(33.333% - 14px);
    background: var(--card-bg);
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.img-wrapper {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.card-content { 
    padding: 20px; 
}
.card-content p { 
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.4;
 }